@import "styles/mixins";

.headerWrapper {
  position: fixed;
  background-color: transparent;
  top: 0;
  z-index: 10;
  padding: 0.5rem;
  width: 100vw;
  backdrop-filter: blur(200px);

  &.hideLinks {
    backdrop-filter: none;
  }

  @include tablet {
    z-index: 1;

    &.blue {
      z-index: 10;
    }
  }

  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    position: absolute;
    background-color: transparent;
    width: 100%;

    &.hideLinks {
      background-color: transparent;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: -0.75rem;
}

.mobileMenu {
  height: 100vh;
  margin: 0;
  width: 100vw;
  background: #ffffffc7;
  backdrop-filter: blur(20px);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    background: #fff;
  }
  @include tablet {
    display: none;
  }
}

@mixin burgerLine {
  width: 1.5rem;
  height: 0.1rem;
  background: $secondary;
  border-radius: 1rem;
}

.menuBtn {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  background: transparent;
  border: none;

  .burger {
    @include burgerLine();
    width: 0.75rem;
    transition: all 0.5s ease-in-out;

    &.open {
      transform: translateX(-1rem);
      background: transparent;
      width: 0.5rem;
    }
  }

  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    @include burgerLine();
  }

  .burger::before {
    transform: translate(-0.75rem, -0.5rem);
  }
  .burger::after {
    transform: translate(-0.75rem, 0.5rem);
  }

  .burger.open::before {
    transform: rotate(-45deg) translate(0.25rem, 0.25rem);
  }
  .burger.open::after {
    transform: rotate(45deg) translate(0.25rem, -0.25rem);
  }

  @include tablet {
    display: none;
  }
}
