.wrapper {
  text-align: center;
  margin-block: 5rem;
  display: grid;
  justify-items: center;
  min-height: 350px;
  align-content: center;
}

.iconsList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.categoryWrapper {
  cursor: pointer;
  display: flex;
  transition: 0.3s linear;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 100px;
  transition: box-shadow 0.3s;
  box-shadow: #000 1px 1px 5px -1px;
  border-radius: 50%;
  outline: none;
  border: none;
  background: transparent;

  &:hover {
    box-shadow: #000 1px 1px 18px -10px;
  }

  .categoryName {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
  }

  .image {
    margin-block: 0.5rem;
    display: flex;
    max-height: 30%;
    max-width: 30%;
  }
}
