.wrapper {
  text-align: center;
  margin-block: 3rem;
}

.iconsList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.categoryWrapper {
  cursor: pointer;
  display: flex;
  transition: 0.3s linear;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 100px;
  height: 100px;
  transition: box-shadow 0.3s;
  box-shadow: #000 1px 1px 5px -1px;
  border-radius: 50%;

  &:hover {
    box-shadow: #000 1px 1px 18px -10px;
  }

  .categoryName {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  .image {
    margin-top: 0.5rem;
  }
}
