.page {
  position: relative;
  min-height: 40rem;
  padding-top: 5rem;

  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    padding-top: 1.5rem;
  }

  h1 {
    margin-bottom: 2rem;
  }

  &.withHero {
    padding-top: 0;
  }

  &.center {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  &.slim {
    max-width: 900px;
    margin-inline: auto;
  }
}
