@import "styles/_mixins";

.sectionTitle {
  display: flex;
  gap: 1rem;
  align-items: center;

  svg {
    color: $secondary;
    cursor: pointer;
  }
}

.insights {
  background-color: $lightGrey;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  max-width: 400px;
}

.suggestion {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-block: 0.5rem;
  justify-content: space-between;

  p {
    margin: 0;
    text-align: left;
  }
}
