@import "styles/_mixins";

.input {
  font-size: 16px;
  font-family: inherit;
  background-color: $offWhite;
  border: 1.5px solid $secondary;
  border-radius: 12px;
  transition: 180ms box-shadow ease-in-out;
  display: block;
  width: 100%;

  padding: 16px;

  &.error {
    border-color: red;
  }

  &:focus {
    box-shadow: 0 0 0 3px $lightSecondary;
    outline: 3px solid transparent;

    &.error {
      box-shadow: 0 0 0 3px #ff00002e;
    }
  }
}

.input[readonly] {
  border-style: dotted;
  cursor: not-allowed;
  color: #777;
}

.input[disabled] {
  background-color: #eee;
  cursor: not-allowed;
}

.formGroup {
  display: grid;
  text-align: left !important;
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
}

.label {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
  display: block;
  text-transform: uppercase;
  font-weight: bold;

  &.error {
    color: red;
  }
}

.helperText {
  font-size: 0.7rem;
  opacity: 0;
}

.errorMsg {
  font-size: 0.7rem;
  color: red;
  margin-top: 0.125rem;
}

.autocomplete {
  position: relative;

  .suggestions {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    // border: 1px solid;
    border-radius: 10px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }

  .suggestion {
    padding: 0.5rem;
    cursor: pointer;
  }
}

.activeSuggestion {
  background-color: $lightPrimary;
}
