@import "styles/_mixins";

.input[readonly] {
  border-style: dotted;
  cursor: not-allowed;
  color: #777;
}

.input[disabled] {
  background-color: #eee;
  cursor: not-allowed;
}

.formGroup {
  display: grid;
  text-align: left !important;
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
}

.label {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
  display: block;
  text-transform: uppercase;
  // font-weight: bold;

  &.error {
    color: red;
  }

  .optional {
    font-weight: normal;
    text-transform: none;
  }
}

.helperText {
  font-size: 0.7rem;
  opacity: 0;
}

.errorMsg {
  font-size: 0.8rem;
  font-weight: normal;
  text-transform: none;
}

.inputBox {
  display: flex;
  background-color: $offWhite;
  border: 0.5px solid $secondary;
  border-radius: 12px;
  padding-left: 1rem;
  align-items: center;

  &.error {
    border-color: red;
  }

  .prefix {
    text-transform: lowercase;
    font-size: 1rem;
    color: grey;
    font-weight: normal;
    padding-right: 0.75rem;
  }

  input {
    flex: 1;
    border-radius: 0 12px 12px 0;
    border: 1px solid $secondary;
    // border-left: 0;
    padding-inline: 0.5rem;
  }
}
