@import "styles/_mixins";

.navLinks {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  font-size: 1.025em;
}

.loading {
  width: 10ch;
  height: 44px;
  background-color: $lightSecondary;
  border-radius: 8px;
}
