@import "styles/_mixins";

.wrapper {
  display: grid;
}

.pageSection {
  margin-block: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features {
  display: grid;
  gap: 3rem;
  margin-top: 2rem;
}

.feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  aside {
    display: flex;
    justify-content: center;

    @include mobile_only {
      display: none;
    }
  }
}

.howItWorks {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-block: 2.5rem;

  @include mobile_xl {
    display: grid;
    position: relative;
    z-index: 0;
    grid-template-rows: 3.2rem 1fr 3.2rem 1fr;
  }
}

.step {
  width: 100%;
  max-width: 53rem;
  margin-inline: auto;
  position: relative;
  // color: $secondary;
  align-content: center;
  padding: 2.5rem;
  border-radius: 1rem;
  display: grid;
  grid-template-areas:
    "title image"
    "paragraph paragraph";

  @include desktop {
    grid-template-areas:
      "title image"
      "paragraph image";
  }

  .stepImage {
    margin-left: auto;
    align-self: center;
    grid-area: image;
  }

  p {
    line-height: 1.5;
    align-self: flex-start;
    grid-area: paragraph;
    max-width: none;

    @include desktop {
      margin-right: 1rem;
    }
  }

  h3 {
    align-self: flex-end;
    grid-area: title;
    max-width: none;
  }
}

.consult {
  z-index: 1;
  --bg-opacity: 1;
  grid-area: 1/1/4/3;
  background: linear-gradient(180deg, darken(white, 5%) 0%, $lightLight 100%);
  // background-color: lighten($tertiary, 5%);
}

.deliver {
  z-index: 2;
  grid-area: 3/2/5/5;
  background: linear-gradient(180deg, white 0%, $lightLight 100%);
  padding-block: 3.5rem;
  // background-color: $tertiary;

  @include mobile_xl {
    box-shadow: -10px -15px 26px rgba(0, 0, 0, 0.2);
  }
}

.work {
  z-index: 3;
  grid-area: 2/4/4/6;
  background: linear-gradient(
    180deg,
    darken($tertiary, 5%) 0%,
    $lightLight 100%
  );
  background: linear-gradient(180deg, darken(white, 15%) 0%, $lightLight 100%);
  // background-color: darken($tertiary, 5%);

  @include mobile_xl {
    box-shadow: -10px 15px 26px rgba(0, 0, 0, 0.2);
  }
}

.arrowOne {
  display: none;

  @include desktop {
    display: block;
    align-self: flex-end;
    grid-area: 2/3/3/4;
    width: 4rem;
  }
}

.arrowTwo {
  display: none;

  @include desktop {
    display: block;
    margin: 3.2rem 3.2rem 0 12rem;
    justify-self: end;
    align-self: flex-start;
    grid-area: 4/1/5/2;
  }
}
