@import "styles/_mixins";

.pageSection {
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.features {
  display: grid;
  gap: 1rem;
  margin-inline: auto;
  margin-top: 1.5rem;
  max-width: min(80vw, 70rem);

  @include tablet {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .feature {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-inline: auto;
    // border: 1px solid;
    border-radius: 10px;
    text-align: center;

    @include tablet {
      gap: 1rem;
      flex-direction: row;
      text-align: left;
    }
  }
}

.step {
  align-items: center;
  margin-bottom: 3rem;
  text-align: center;
  display: grid;
  gap: 1rem;
  // max-width: 969px;
  margin-inline: auto;

  @include tablet {
    gap: 2rem;
    text-align: left;

    grid-template-columns: 1fr 1fr;
  }

  .text {
    max-width: 500px;
    margin-right: auto;
  }

  &.reverse {
    .text {
      margin-left: auto;
      margin-right: 0;
    }
  }

  @include mobile_only {
    margin-bottom: 5rem;
    &.reverse {
      aside:nth-of-type(2) {
        order: 1;
      }
      aside:nth-of-type(1) {
        order: 2;
      }
    }
  }

  .image {
    display: flex;
    justify-content: center;

    @include mobile_only {
      max-width: 39vw;
      margin-inline: auto;
    }
  }
}
