@import "styles/mixins";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart {
  font-size: 2rem;
  margin-left: auto;
  position: relative;

  svg {
    color: $secondary;
  }

  p {
    font-size: 0.8rem;
    margin: 0;
    border: 1px solid $secondary;
    position: absolute;
    bottom: 4px;
    right: -8px;
    background: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $secondary;
  }
}
