@import "styles/_mixins";

.form {
  display: grid;
  grid-template-rows: auto;
  row-gap: 1rem;
  text-align: left;
  padding-top: 1rem;
}

.successDiv {
  height: 250px;
  padding: 1.5rem;
  gap: 1rem;
  background-color: $lightLight;
  border-radius: 10px;

  p {
    font-size: 1.125rem;
    animation: 1s ease-out 0s 1 slideUp;
    color: $secondary;
  }
}

.icon {
  animation: 1s ease-out 0s 1 slideUp;
  font-size: 3rem;
  color: $secondary;
}

@keyframes slideUp {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
