@import "styles/_mixins";

.grid {
  display: grid;
  row-gap: 4rem;
  column-gap: 1rem;
  margin-top: 2rem;
  width: 100%;

  @include tablet {
    row-gap: 2rem;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "info insights"
      "plugs plugs";
  }
}

.plugs {
  @include tablet {
    grid-area: plugs;
  }
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.sectionTitle {
  margin-bottom: 1rem !important;

  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  svg {
    color: $secondary;
    cursor: pointer;
  }

  &,
  h3 {
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

.plug {
  font-size: 3rem;
  font-weight: bold;
  color: $secondary;
  margin: 0rem;
  line-height: 1;
}

.insights {
  background-color: $lightGrey;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  max-width: 400px;
  margin-inline: auto;
}

.suggestion {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-block: 0.5rem;
  justify-content: space-between;

  p {
    margin: 0;
    text-align: left;
  }
}
