@import "styles/mixins";

.mainImage {
  flex: 1;
  position: relative;
  width: 100%;
  min-height: 350px;
  max-height: 500px;
}

.thumbnailList {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin-inline: auto;
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}

.thumbnail {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: 0.5s;
  flex-shrink: 0;

  &.active {
    border: 1px solid;
  }

  &:hover {
    opacity: 0.7;
  }
}
