@import "styles/mixins";

.businessHeader {
  display: flex;
  justify-content: center;
  gap: 1rem;

  .businessName {
    font-size: 2.2rem;
    word-break: break-word;
    letter-spacing: 0.25rem;
  }
}

.info {
  display: flex;
  column-gap: 1rem;
  row-gap: 0.125rem;

  justify-content: center;
  flex-wrap: wrap;
  margin-block: 1rem;
}

.description {
  margin-bottom: 3rem;
}

.fullView {
  color: inherit;
  position: relative;
  display: grid;
  grid-template-columns: auto 400px;
  column-gap: 4rem;
  margin-top: 3rem;
  width: 100%;

  .buttonGroup {
    display: grid;
    gap: 1rem;
  }
}

.infoBlock {
  .imageGallery {
    height: 350px;
    background-color: lightgray;
  }
}

.stickyWrapper {
  position: relative;
  margin-bottom: 5rem;
}

.pageActions {
  min-height: 350px;
  position: sticky;
  top: 7rem;
  display: grid;
  gap: 2rem;
}

.contactForm {
  box-shadow: 0px 3px 15px rgb(0 0 0 / 20%);
  border-radius: 8px;
  padding: 0.5rem 1rem 1.5rem;
  width: clamp(300px, 100%, 500px);
  margin-inline: auto;
}

// stacked view
.stackedView {
  max-width: 700px;
  width: 100%;
  margin-inline: auto;
  display: grid;
  justify-items: center;
  gap: 2rem;
  margin-top: 2rem;
  text-align: center;

  .buttonGroup {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

.backToSearch {
  margin-top: 4rem;
}

.unverified {
  color: grey;
  gap: 0.5rem;
}

.claimBusiness {
  margin-top: 3rem;
  padding: 1rem;
  background: #80808021;
  max-width: 400px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editButton {
  position: fixed;
  display: inline-flex;
  bottom: 1rem;
  right: 1rem;
  background-color: $secondary;
  height: 50px;
  width: 50px;
  z-index: 5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.8;
    background-color: $secondary;
  }

  svg {
    color: white;
  }
}

// skeleton

.skeletonView {
  max-width: 700px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 2rem;
  margin-top: 2rem;
  text-align: center;
  overflow: hidden;
  margin-bottom: 5rem;

  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .contact {
    width: clamp(300px, 100%, 500px);
    display: grid;
    gap: 1rem;
    margin-inline: auto;
  }

  @include desktop {
    max-width: none;
    color: inherit;
    position: relative;
    display: grid;
    grid-template-columns: auto 400px;
    column-gap: 1rem;
    margin-top: 3rem;
    width: 100%;
  }
}
