@import "styles/_mixins";

.subscribeForm {
  display: grid;
  gap: 0.5rem;
  max-width: 960px;
  margin-inline: auto;
  width: 100%;
  margin-bottom: 1rem;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.wrapper {
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
