@import "styles/_mixins";

.wrapper {
  margin-bottom: 5rem;

  .grid {
    display: grid;
    gap: 2rem;

    @include desktop {
      grid-template-columns: 1fr 1fr;
    }
    div {
      margin: auto;
    }
    p {
      text-align: justify;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 750px;
  transition: 0.25s;
  padding: 0.5rem 1rem;
  border-radius: 15px;

  .tag {
    border: 1px solid transparent;
    background-color: $lightGrey;
    padding: 0.25rem 1rem;
    border-radius: 20px;
  }

  &:hover {
    box-shadow: -1px 2px 3px rgb(0 0 0 / 33%);
  }
}

.featuredImage {
  width: 100%;
  max-width: 600px;
  position: relative;
  height: 250px;
  border-radius: 15px;
  overflow: hidden;

  @include tablet {
    height: 400px;
  }
}
