@import "styles/_mixins";

.wrapper {
  margin-bottom: 5rem;

  .grid {
    display: grid;
    gap: 2rem;

    @include desktop {
      grid-template-columns: 1fr 1fr;
    }
    div {
      max-width: 600px;
      margin: auto;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
}
