@import "styles/_mixins";

.wrapper {
  margin-bottom: 5rem;
  text-align: justify;

  .grid {
    display: grid;
    gap: 2rem;

    @include desktop {
      grid-template-columns: 1fr 1fr;
    }
    div {
      margin: auto;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 750px;

  .tag {
    border: 1px solid transparent;
    background-color: $lightGrey;
    padding: 0.25rem 1rem;
    border-radius: 20px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.featuredImage {
  width: 100%;
  max-width: 600px;
  position: relative;
  height: 250px;
  border-radius: 15px;
  overflow: hidden;

  @include tablet {
    height: 400px;
  }
}
