@import "styles/mixins";

.grid {
  display: grid;
  gap: 2rem;

  @include desktop {
    grid-template-columns: 1fr 1fr;
  }
}

.mainImage {
  position: relative;
  width: 100%;
  min-height: 250px;
  max-height: 500px;
}
