@import "styles/mixins";

.grid {
  margin-top: 3rem;
  display: grid;
  gap: 2rem;

  // max-width: 700px;
  margin-inline: auto;

  @include desktop {
    grid-template-columns: 1fr 1fr;
  }
}

.info {
  display: grid;
  gap: 2rem;
  justify-items: start;
}

.mainImage {
  flex: 1;
  position: relative;
  width: 100%;
  min-height: 250px;
  max-height: 500px;
}

.thumbnailList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}

.thumbnail {
  width: 60px;
  height: 60px;
}
