@import "styles/_mixins";

.baseStyle {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 1px;
  border-radius: 10px;
  border-color: rgb(78, 53, 5);
  border-style: dashed;
  color: rgb(78, 53, 5);
  outline: none;
  transition: border 0.24s ease-in-out 0s;
  margin-bottom: 8px;
  cursor: default;
  max-width: 30rem;
  margin: auto;
  margin-top: 2rem;
  padding: 5rem 4rem 1.5rem;
  text-align: center;
}

.removeButton {
  align-self: start;
  margin-right: 8px;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 0px;
  right: -10px;
  cursor: pointer;
}

.activeStyle {
  border-color: #2196f3;
}
.acceptStyle {
  border-color: #00e676;
}
.rejectStyle {
  border-color: #ff1744;
}
