@import "styles/_mixins";

.refinementList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-top: 0;
}

.refinementListItem {
  border: 1px solid $secondary;
  border-radius: 8px;
  padding: 8px;
  margin: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;

  &:hover {
    opacity: 0.8;
  }

  &.isRefined {
    background: $primary;
    color: $secondary;
  }
}
