@import "styles/_mixins";

.refinementList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-top: 0;
  max-height: 20rem;

  @include desktop {
    transition: max-height 0.3s linear;
  }

  &.hideList {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0s linear;
  }
}

.refinementListItem {
  border: 1px solid $secondary;
  border-radius: 8px;
  padding: 8px;
  margin: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;

  &:hover {
    opacity: 0.8;
    color: grey;
  }

  &.isRefined {
    background: $primary;
    color: $secondary;
  }
}
