@import "styles/mixins";

.hero {
  position: relative;
  display: -webkit-box;
  display: flex;
  padding: 1.15rem;
  text-decoration: none;
  min-height: 35rem;
  justify-content: center;
}

.hero_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;

  h1 {
    color: $black;
    font-size: 2.1rem;

    span {
      color: $secondary;
    }

    @include tablet {
      font-size: 2.4rem;
    }

    @include desktop {
      font-size: 3.5rem;
    }
  }

  p.subtitle {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
  }

  .line_break {
    @include tablet() {
      display: none;
    }
  }
}

.hero_cta_link {
  width: 100%;
}

.hero_cta_button {
  color: #4e3505;
  padding: 0.75rem 1rem;
  width: 100%;
  margin-top: 1rem;
  border: 1px solid $lightSecondary;

  // background-color: #fffaf2;
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;

  * {
    opacity: 0.8;
  }

  svg {
    position: absolute;
    font-size: 1.25rem;
  }

  p {
    width: 100%;
    white-space: nowrap;
    margin-left: 2rem;
    margin-block: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }
  // &:hover {
  //   box-shadow: rgb(0 0 0 / 25%) 0px 25px 50px -12px;
  // }
}

.cta_box {
  width: 100%;
  margin-top: 16px;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
