@import "styles/mixins";

.hero {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  padding: 1.15rem;
  padding-top: 100px;
  padding-bottom: 100px;
  transition: background 2s ease;
  text-decoration: none;
  // height: 80vh;
  min-height: 35rem;
  z-index: 1;
  justify-content: center;
  margin-bottom: 24px;
  background: $primary;
  background: linear-gradient(180deg, $primary 0%, white 100%);

  .hero_image {
    // display: none;
    position: absolute;
    right: 0;
    opacity: 0.1;
    @include tablet() {
      display: block;
      opacity: 0.05;
    }
  }

  .hero_svg {
    position: absolute;
    opacity: 0.2;
    max-width: 80%;
    max-height: 80%;
  }
}

.hero_content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 700px;
  width: 100%;
  z-index: 3;
  color: $secondary;

  h1 {
    font-weight: normal;
    font-size: 2.6rem;

    @include mobile_only() {
      font-size: 2.1rem;
    }
  }

  .line_break {
    @include tablet() {
      display: none;
    }
  }

  .black_owned {
    font-weight: bold;
  }
}

.hero_cta_white {
  background: white !important;
  color: #4e3505 !important;
  // font-size: 20px !important;

  &:hover {
    opacity: 0.8;
  }
}

.hero_cta_link {
  width: 100%;
  max-width: 500px;
  margin-top: 16px;
}

.hero_cta_button {
  color: #4e3505;
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  width: 100%;

  background-color: #fffaf2;
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;

  * {
    opacity: 0.6;
  }
  svg {
    position: absolute;
  }
  p {
    width: 100%;
    white-space: nowrap;
    margin-left: 2rem;
    margin-block: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }
  &:hover {
    box-shadow: rgb(0 0 0 / 25%) 0px 25px 50px -12px;
  }
}

.custom_shape_divider_bottom_1626981879 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom_shape_divider_bottom_1626981879 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 66px;
}

.custom_shape_divider_bottom_1626981879 .shape_fill {
  fill: white;
}
