@import "styles/mixins";

.hero {
  position: relative;
  display: -webkit-box;
  display: flex;
  padding: 1.15rem;
  transition: background 2s ease;
  text-decoration: none;
  min-height: 35rem;
  justify-content: center;
  background: $primary;
  background: linear-gradient(180deg, $primary 0%, white 100%);
}

.hero_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;

  h1 {
    font-weight: normal;
    font-size: 2.6rem;
  }

  .line_break {
    @include tablet() {
      display: none;
    }
  }
}

.hero_cta_link {
  width: 100%;
  max-width: 500px;
  margin-top: 16px;
}

.hero_cta_button {
  color: #4e3505;
  padding: 0.75rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  width: 100%;

  background-color: #fffaf2;
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;

  * {
    opacity: 0.6;
  }
  svg {
    position: absolute;
  }
  p {
    width: 100%;
    white-space: nowrap;
    margin-left: 2rem;
    margin-block: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }
  &:hover {
    box-shadow: rgb(0 0 0 / 25%) 0px 25px 50px -12px;
  }
}

.custom_shape_divider_bottom_1626981879 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom_shape_divider_bottom_1626981879 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 66px;
}

.custom_shape_divider_bottom_1626981879 .shape_fill {
  fill: white;
}
