@import "styles/_mixins";

.input {
  font-family: inherit;
  background-color: $offWhite;
  border: 1.5px solid $secondary;
  border-radius: 12px;
  transition: 180ms box-shadow ease-in-out;

  padding: 16px;

  &.error {
    border-color: red;
  }

  &:focus {
    box-shadow: 0 0 0 3px $lightSecondary;
    outline: 3px solid transparent;

    &.error {
      box-shadow: 0 0 0 3px #ff00002e;
    }
  }
}

.input[readonly] {
  border-style: dotted;
  cursor: not-allowed;
  color: #777;
}

.input[disabled] {
  background-color: #eee;
  cursor: not-allowed;
}

.helperText {
  font-size: 0.7rem;
  opacity: 0;
}

.errorMsg {
  font-size: 0.8rem;
  color: red;
  margin-top: 0.125rem;
  text-transform: none;
}
