@import "styles/mixins";

.selectLabel {
  font-size: 1rem;
  text-align: left;
  margin-left: 0.5rem;

  select {
    appearance: none;
    background-color: transparent;
    margin: 0;
    width: 100%;
    line-height: inherit;

    display: block;
    padding: 0.75rem;
    font-size: inherit;
    border-radius: 10px;
    border: 1.5px solid $secondary;

    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 3px $lightSecondary;
      outline: 3px solid transparent;
    }

    option {
      &:hover {
        background-color: grey;
      }
    }
  }
}
