@import "styles/_mixins";

.results {
  margin-top: 3rem;
}

.noResultsDiv {
  margin-top: 3rem;
  .emptyImage {
    opacity: 0.6;
  }
}

.stats {
  font-size: 0.8rem;
  display: flex;
  margin: 1rem auto 0.1rem;
}
