@import "styles/mixins";

.navLink {
  position: relative;
  border-radius: 8px;
  align-self: center;

  &.active {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 50%;
      left: 25%;
      bottom: 0;
      border-bottom: 2px solid $secondary;
    }
  }
}
