@import "styles/_mixins";

.footer {
  padding: 8rem 0px 8px;
  position: relative;
  min-height: 20rem;
  text-align: center;
  background: linear-gradient(180deg, white 0%, $primary 100%);
  width: 100%;
  margin-top: 4rem;

  &.blue {
    background: linear-gradient(180deg, white 0%, $lightTertiary 100%);
  }
}

.externalLinks {
  p {
    margin-bottom: 0.25rem;
  }

  .socials {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
  }
}

.container {
  display: grid;
  gap: 3rem;
}

.linksGrid {
  display: grid;
  gap: 1.25rem;

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}

.guidelines {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

// shape divider
.shape_divider_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.shape_divider_container svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 86px;
}

.shape_divider_container .shape_fill {
  fill: #ffffff;
}
