@import "styles/mixins";

.root {
  position: relative;
}

.stackedView {
  margin: 3rem auto 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 700px;
}

.businessName {
  margin: 0 !important;
  font-size: 2.5rem !important;
  word-break: break-word;
  letter-spacing: 0.25rem;
}

.linkButton {
  border: 1px solid #4e3505;
  margin: 8px 16px;
  border-radius: 50%;
}

.category {
  font-weight: bold;
  font-size: 1.25rem;
  font-family: "Montserrat";
}
.categorySpan {
  color: $secondary;
  cursor: pointer;
  padding: 1px;
  border-bottom: 1px solid;
  border-radius: 5px;

  &:hover {
    border-bottom: none;
  }
}

.avatar {
  margin: 0px 8px;
}

.gridContainer {
  margin-top: 30px;
}

.leftDiv {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 700px;
  margin: auto;
}

.favoriteDiv {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.remote {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}

.unverified {
  color: grey;
  display: flex;
  font-size: 0.9rem;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
}

.contact {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  padding: 1rem 0.5rem;
  border-radius: 15px;
  max-width: 450px;
  margin: auto;
}

.claimBusiness {
  padding: 1rem 2.5rem;
  border-radius: 0.25rem;
  border: 1px spid $secondary;
  display: inline-block;
  background-color: rgb(205 182 147 / 23%);
}
