.contact {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  padding: 1rem 0.5rem;
  border-radius: 15px;
  max-width: 450px;
  margin: auto;
}
