@import "styles/_mixins";

.section {
  display: grid;
  align-items: center;
  margin-block: 2.5rem;
  margin-inline: auto;
  grid-template-rows: auto;
  row-gap: 2.25rem;
  text-align: center;

  div {
    p {
      margin-bottom: 2rem;
    }
  }

  .image {
    span {
      border-radius: 10px;
      overflow: hidden;
    }
  }

  @include mobile_only {
    &.reverse {
      div {
        order: 1;
      }
    }
  }

  @include tablet {
    grid-template-columns: 1fr 1fr;
    column-gap: 1.25rem;
  }
}
