@import "styles/_mixins";

.root {
  display: inline-grid;
  flex-direction: column;
  width: clamp(10rem, 90%, 22rem);
  margin-inline: auto;
  border: 1px solid;

  padding: 1rem 0.875rem;
  transition: box-shadow 0.1s;
  border-radius: 10px;

  &:hover {
    box-shadow: 0 1px 3px 0 rgb(78 56 10 / 39%);
  }
}
