@import "styles/_mixins";

.root {
  display: inline-grid;
  text-align: center;
  flex-direction: column;
  box-shadow: 0 2px 7px 0 rgb(78 56 10 / 39%);
  width: clamp(10rem, 90%, 22rem);
  margin-inline: auto;
  align-items: center;
  justify-items: center;

  padding: 1rem 0.5rem;
  transition: box-shadow 0.3s;
  border-radius: 10px;

  &:hover {
    box-shadow: 0 4px 14px 0 rgb(78 56 10 / 39%);
  }
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.businessName {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.category {
  font-weight: bold;
  font-size: 0.9rem;
  margin-block: 0.5rem;
}

.businessDescription {
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
  text-overflow: ellipsis;
  margin-block: 1rem;
}

.canadaWide {
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 0;
  color: grey;
}
