@import "styles/mixins";

.wrapper {
  width: 100%;
  display: grid;
  gap: 1rem;
}

.optionsDiv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  label {
    width: calc(50% - 0.5rem);
  }
}
