@import "styles/_mixins";

.mobileContent {
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -2rem;
  margin-bottom: 3rem;
  box-shadow: 0 -14px 14px -12px rgb(78 56 10 / 39%);

  padding: 2rem 0.5rem;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
