@import "styles/_mixins";

.background {
  position: absolute;
  height: 100%;
  width: 50%;
  background: rgb(205, 182, 147);
  background: linear-gradient(
    180deg,
    rgba(205, 182, 147, 1) 0%,
    rgba(147, 170, 205, 1) 100%
  );
  z-index: -1;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "blank content";
  align-items: center;
  // z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
}

.container {
  position: relative;
  height: 100vh;
  grid-area: content;

  @include mobile_only {
    height: calc(100% - 2rem);
    overflow-y: auto;
  }
}

.stepInfo {
  // animation: 1s ease-out 0s 1 slideInFromLeft;

  @include mobile_only {
    text-align: center;
    padding: 5rem 1rem;
    background: rgb(205, 182, 147);
    background: linear-gradient(
      180deg,
      rgba(205, 182, 147, 1) 0%,
      rgba(147, 170, 205, 1) 100%
    );
  }

  @include tablet {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    * {
      max-width: 40%;
    }
  }
}

.content {
  overflow-y: auto;
  padding-top: 7rem;
  height: calc(100% - 4rem);
}

.mobileWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.mobileContent {
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -2rem;
  margin-bottom: 3rem;
  box-shadow: 0 -14px 14px -12px rgb(78 56 10 / 39%);

  padding: 2rem 0.5rem;
}

.navigation {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  box-shadow: 0 4px 14px 0 rgb(78 56 10 / 39%);

  background-color: white;

  @include mobile_only {
    position: fixed;
  }
}

.labelButton {
  display: inline-flex;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
