@import "styles/_mixins";

.form {
  display: grid;
  row-gap: 1.75rem;
  width: clamp(200px, 90%, 500px);
  margin: auto;
  max-height: 100%;
}

.descriptionLabel {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
  display: block;
  text-transform: uppercase;
  font-weight: bold;

  &.error {
    color: red;
  }
}

.grid {
  display: grid;
  margin-block: 5rem;
  align-items: center;
  margin-inline: auto;
  grid-template-rows: auto;
  row-gap: 1.25rem;
  text-align: center;

  .text {
    width: 90%;
    max-width: 500px;
    margin-inline: auto;
    line-height: 1.5;

    // h3 {
    //   margin-bottom: 0.25rem;
    // }
    p {
      margin-top: 0;
    }
  }

  @include tablet {
    grid-template-columns: 1fr 1fr;
    column-gap: 1.25rem;
  }
}

.navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  background-color: white;

  .buttons {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    margin-left: 1rem;
  }

  @include mobile_only {
    box-shadow: 0 4px 14px 0 rgb(78 56 10 / 39%);
    position: fixed;
  }
}

.progress {
  display: none;

  @include mobile_only {
    display: block;
    border-radius: 7px;
    width: 100%;
    height: 4px;
  }
}

.progress::-webkit-progress-bar {
  background-color: $lightSecondary;
  border-radius: 7px;
}
.progress::-webkit-progress-value {
  background-color: $secondary;
  border-radius: 7px;
}
