@import "styles/_mixins";

.grid {
  display: grid;
  margin-block: 5rem;
  align-items: center;
  margin-inline: auto;
  grid-template-rows: auto;
  row-gap: 1.25rem;
  text-align: center;

  .text {
    width: 90%;
    max-width: 500px;
    margin-inline: auto;
    line-height: 1.5;

    p {
      margin-top: 0;
    }
  }

  @include tablet {
    grid-template-columns: 1fr 1fr;
    column-gap: 1.25rem;
  }
}

.progress {
  display: none;

  @include mobile_only {
    display: block;
    border-radius: 7px;
    width: 100%;
    height: 4px;
  }
}

.progress::-webkit-progress-bar {
  background-color: $lightSecondary;
  border-radius: 7px;
}
.progress::-webkit-progress-value {
  background-color: $secondary;
  border-radius: 7px;
}
