@import "styles/_mixins";

.logoCircle {
  padding: 16px;
  border-radius: 50%;
  border: 1.4px solid $secondary;
  align-self: center;
  width: 70px;
  height: 70px;
  margin-bottom: 16px;
}

.authDiv {
  margin: 16px 0px;
  width: 100%;
}
