@import "styles/_mixins";

.hero {
  position: relative;
  display: flex;
  padding: 8rem 0 1.15rem;
  text-decoration: none;
  justify-content: center;
  background-color: $lightTertiary;
  background: linear-gradient(180deg, $lightTertiary 0%, white 100%);
  overflow: hidden;
  min-height: min(80vh, 35rem);

  @include desktop {
    min-height: min(80vh, 50rem);
    margin-bottom: 3.5rem;
  }
}

.hero_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1;

  .text {
    // align-self: center;
    max-width: 600px;
  }

  .image {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("/images/FUNDING.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    z-index: -1;
    filter: opacity(0.1);
  }

  @include desktop {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    text-align: left;

    .image {
      position: relative;
      right: auto;
      filter: opacity(0.8);
    }
  }
}

.subTitle {
  font-size: 1.25rem;
  line-height: 1.3;
  margin-bottom: 3rem;
}

// divider

.divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 59px;
  }

  .shapeFill {
    fill: #ffffff;
  }
}
