@import "styles/_mixins";

.section {
  margin-block: 3rem;
  max-width: 900px;
  margin-inline: auto;
  gap: 1rem;
  text-align: center;

  @include mobile_only {
    &.reverse {
      aside:nth-of-type(2) {
        order: 1;
      }
      aside:nth-of-type(1) {
        order: 2;
      }
    }
  }
}

// .dialogOverlay {
//   transition: 1s;
// }

.dialogContent {
  box-shadow: 0px 10px 50px hsla(0, 0%, 0%, 0.33);
  width: 90%;
  max-width: 400px;
  overflow: hidden;
  border-radius: 10px;

  padding: 0rem;

  @include mobile_only {
    overflow-y: scroll;
  }
}
