$primary: #cdb693;
$secondary: #4e3505;
$tertiary: #93aacd;
$lightPrimary: #cdb69363; //unused
$lightSecondary: #4e350563;
$offWhite: #cdb6930d;
$lightGrey: #80808021;
$darkPrimary: #b19d7f;

$lightLight: #f9f6f1;

// preset media queries
@mixin mobile_only() {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin large_tablet_down {
  @media (max-width: 959px) {
    @content;
  }
}

@mixin mobile_xl() {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin largDesktop() {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin xLargDesktop() {
  @media (min-width: 1920px) {
    @content;
  }
}
