@import "mixins";

.filter_section_title {
  font-weight: bold !important;
  color: $secondary;
  font-size: 1rem !important;
}

.refinement_list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  list-style: none;
  margin-top: 0;

  .refinement_list_item {
    border: 1px solid #4e3505;
    border-radius: 5px;
    padding: 8px;
    list-style: none;
    margin: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8125rem;

    &:hover {
      opacity: 0.8;
    }
    &.is_refined {
      background: $primary;
      color: $secondary;
    }
  }
}

.pagination_list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;

  .pagination_list_item {
    padding: 0.5rem 1rem;
    margin: 0 4px;
    border: 1px solid $primary;
    border-radius: 20px;
    background: transparent;
    color: $secondary;
    cursor: pointer;
    font-size: 0.8rem;
    display: flex;

    &.active {
      font-weight: bold;
      background: $primary;
    }
  }
}
