@import "./mixins";

// algolia
:root {
  --primary: #4e3505;
  --secondary: #cdb693;

  // autocomplete variables
  --aa-primary-color-rgb: 78, 53, 5 !important;
  --aa-muted-color-rgb: 35, 24, 13 !important;
  // --aa-panel-border-color-rgb: 78, 53, 5 !important;
  --aa-input-border-color-rgb: 78, 53, 5 !important;
  --aa-selected-color-rgb: 205, 182, 147 !important;
}

.aa-DetachedSearchButtonPlaceholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[class^="ais-"] {
  font-size: inherit;
  font-family: inherit;
}

.ais-Pagination-link {
  color: var(--primary);
}
.ais-Pagination-link:hover {
  color: var(--primary);
}
.ais-Pagination-item--selected .ais-Pagination-link {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}
.ais-Pagination {
  margin-top: 16px;
}

.ais-ClearRefinements {
  display: flex;
  margin-top: 1rem;
  // display: none;
}
.ais-ClearRefinements-button[disabled] {
  display: none;
}
.ais-ClearRefinements-button {
  background-color: var(--primary);
  display: inline-flex;
  margin-top: 8px;
  font-size: 0.8rem;

  &:hover {
    background-color: var(--secondary);
    color: var(--primary);
  }

  &:focus-visible,
  &:focus {
    box-shadow: 0 0 0 3px $lightSecondary;
    background-color: var(--secondary);
    color: var(--primary);
  }
}

/* highlight: matching letters/words */
ais-highlight-0000000000,
.ais-Highlight-highlighted,
.ais-Snippet-highlighted {
  font-weight: bold;
  background-color: transparent;
  font-style: inherit;
  color: $secondary;
}
