:root {
  --dark: #4e3505;
  --light: #cdb693;
}
.ais-Hits-item {
  width: calc(100% - 1rem);
  word-break: break-word;
  padding: "8px";
}
[class^="ais-"] {
  font-size: inherit;
  font-family: inherit;
}
.ais-SearchBox-input {
  padding: 0.5rem 1.7rem;
}
/* .ais-Highlight-highlighted,
.ais-Snippet-highlighted {
  background-color: #bdbdbd;
  font-style: normal;
} */
.search-algolia {
  max-width: 700px;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
}
input.ais-SearchBox-input:focus,
input.react-autosuggest__input:focus,
input.react-autosuggest__input:focus-visible {
  outline-color: var(--light);
}
input.react-autosuggest__input:hover {
  border-color: var(--light);
}
.ais-PoweredBy {
  display: inline-flex;
  font-size: 0.7rem;
  margin-left: auto;
}
.ais-Pagination-link {
  color: var(--dark);
}
.ais-Pagination-link:hover {
  color: var(--dark);
}
.ais-Pagination-item--selected .ais-Pagination-link {
  color: #fff;
  background-color: var(--dark);
  border-color: var(--dark);
}
.ais-Pagination {
  margin-top: 16px;
}
.ais-ClearRefinements {
  display: flex;
}
.ais-ClearRefinements-button[disabled] {
  display: none;
}
.ais-ClearRefinements-button {
  background-color: var(--dark);
  display: inline-flex;
  margin-top: 8px;
  font-size: 0.8rem;
}
.ais-ClearRefinements-button:hover {
  background-color: var(--light);
  color: var(--dark);
}
.left-panel > * {
  margin: 8px 0px;
}
.ais-Stats-text {
  font-size: 0.8rem;
  display: flex;
  margin: 1rem auto 0.1rem;
}
.ais-CurrentRefinements {
  margin: 2px 0px 16px;
}
/* highlight: matching letters/words */
ais-highlight-0000000000,
.ais-Highlight-highlighted,
.ais-Snippet-highlighted {
  color: #ff914d;
  border-bottom: 1px solid #ff914d;
  background-color: transparent;
  font-style: inherit;
}
li.ais-CurrentRefinements-item {
  font-size: 0.7rem;
  flex-wrap: wrap;
  background-color: var(--light);
}
.autocomplete-search-container {
  margin-top: 5vh;
}
input.react-autosuggest__input {
  padding: 1rem;
  font-size: 1rem;
  font-family: "Raleway";
  border-radius: 5px;
  border-color: var(--dark);
  position: absolute;
  width: calc(100% - 50px);
  background: white;
  z-index: 2;
  top: 10px;
}

.react-autosuggest__suggestions-list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  width: 100%;
  text-align: left;
}
.react-autosuggest__suggestion {
  padding: 8px;
  font-family: "Raleway";
  cursor: pointer;
  background: white;
  margin: 4px 2px;
  border-radius: 8px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.react-autosuggest__suggestion--highlighted {
  background-color: #fffaf2;
  opacity: 0.8;
  border-left: 2px solid #cdb693;
}
.autocompleteTags {
  font-size: 0.8rem;
  font-style: italic;
  display: block;
}
.suggestionDiv {
  display: flex;
}
.suggestionCaption {
  font-weight: 700;
  text-transform: uppercase;
}
.suggestionTags {
  font-style: italic;
  font-size: 0.8rem;
}
.no-suggestions {
  background-color: #fffaf2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 32px 8px 8px;
  margin-top: -5px;
}
.react-autosuggest__section-title {
  margin-top: 16px;
  color: var(--dark);
  font-weight: bold;
}
.react-autosuggest__suggestions-container--open::-webkit-scrollbar {
  width: 8px;
}
.react-autosuggest__suggestions-container--open {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: lightgray;
}

.react-autosuggest__suggestions-container--open::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}

.react-autosuggest__suggestions-container--open::-webkit-scrollbar-thumb:hover {
  background: #a7a5a5;
}
@media only screen and (min-width: 600px) {
  .ais-Hits-item {
    width: calc(50% - 1rem);
  }
}
@media only screen and (min-width: 1024px) {
  .ais-Hits-item {
    width: calc(33.3% - 1rem);
  }
  .results-filters {
    display: flex;
  }
  .left-panel {
    width: calc(20% - 10px);
    margin-right: 10px;
    margin-top: 70px;
  }
  .right-panel {
    width: 80%;
  }
}
