@tailwind base;
@tailwind components;
@tailwind utilities;

@import "styles/mixins";

.button {
  @apply lg:text-lg;

  border: none;
  background-color: transparent;
  color: $secondary;
  padding: 0.5rem 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  text-align: center;
  white-space: nowrap;

  transition: 180ms all ease-in-out;

  &.withIcon {
    display: flex;
    gap: 0.5rem;
  }

  &.text {
    position: relative;

    &:hover,
    &:active {
      background-color: rgba(78, 53, 5, 0.04);
    }
  }

  &.text-inverse {
    position: relative;
    border-bottom: 1px solid;
    padding: 0;
    border-radius: 0;

    &:hover,
    &:active {
      border-color: transparent;
    }
  }

  &.filled {
    background-color: $secondary;
    color: #fff;
    border: 1px solid $secondary;

    background-color: rgb(78 53 5);

    &:hover {
      box-shadow: 0 6px 20px rgb(78 56 10 / 23%);

      &::after {
        content: none;
      }
    }
  }

  &.outlined {
    border: 1px solid $secondary;
    color: $secondary;

    @apply hover:border-transparent hover:bg-primary/10;
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;

    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    box-shadow: none;

    &:hover {
      box-shadow: none;
      background-color: #cccccc;
      border: 1px solid #999999;
    }
  }
}
