@import "styles/mixins";

.page {
  padding: 2rem 0;
  text-align: center;
}

.search_div {
  // position: sticky;
  top: 0;
  background: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: auto;
  max-width: 700px;

  .search_filters {
    display: flex;
    justify-content: center;

    button {
      margin: 5px;
    }
  }
}

.hit_root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hit_root_link {
  flex: 1;
  border: 1px solid transparent;
  display: flex;
  padding: 16px 8px;
  transition: border 0.1s ease-in-out;
  transition: box-shadow 0.3s;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: #000 1px 1px 5px -1px;

  &:hover {
    box-shadow: #000 1px 1px 18px -10px;
    // box-shadow: rgb(0 0 0 / 25%) 0px 25px 50px -12px;
  }

  * {
    text-align: center;
  }
}

.hit_business_name {
  text-align: center;
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 8px;
  text-transform: uppercase;
  color: inherit;
}

.hit_business_category {
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0;
}

.hit_business_location {
  margin-bottom: 0;
  margin-top: auto;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.hit_footer {
  display: flex;
  justify-content: space-between;

  .canada_wide {
    font-weight: bold;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
  }
}

.hide_on_mobile {
  span {
    line-height: 1.3rem;
  }
  @include mobile_only() {
    display: none;
  }
}
