html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
img {
  max-height: 100%;
}
.page {
  margin: auto;
  min-height: 85vh;
  padding-top: 60px;
}
.body-content {
  padding: 1.15rem;
  max-width: 1400px;
  margin: auto;
}
.hero {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  padding: 1.15rem;
  padding-top: 100px;
  padding-bottom: 100px;
  transition: background 2s ease;
  text-decoration: none;
  /* max-height: 450px;
  min-height: 380px; */
  height: 550px;
  z-index: 1;
  justify-content: center;
}
.hero-side-image {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  max-width: 50%;
  height: 80%;
  overflow: hidden;
}
.hero-text-overlay {
  max-width: 650px;
  width: 100%;
  z-index: 3;
  text-align: center;
}
.gap {
  flex-grow: 1;
}
.sectionDesktop {
  display: none;
}
.sectionMobile {
  display: flex;
}
.carousel-item {
  padding: 0px 6px;
  margin-top: 8px;
}
.carousel-item:nth-child(1) {
  padding-left: 0px;
}
.hr-div {
  height: 12px;
  border-bottom: 1px solid var(--dark);
  text-align: center;
}
.hr-text {
  background-color: white;
  padding: 0 10px;
}
.home-info {
  display: flex;
  align-items: center;
}
.second-grid {
  flex-direction: column-reverse;
}

@media only screen and (min-width: 600px) {
  .masonry-item {
    padding: 8px 16px;
  }
  .second-grid {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) {
  .body-content {
    max-width: 1400px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.footer {
  padding: 16px 0px 8px 0px;
  margin-top: 10vh;
  min-height: 5vh;
  text-align: center;
  background-color: #cdb693;
}
.footer-container {
  margin: 16px auto 0px;
}
.footer-links-div > * {
  display: block;
}
@media only screen and (min-width: 600px) {
  .sectionMobile {
    display: none;
  }
  .sectionDesktop {
    display: flex;
  }
  .sectionDesktop > * {
    margin: 0 8px;
  }
}
