@import "~react-image-gallery/styles/css/image-gallery.css";
:root {
  --dark: #4e3505;
  --light: #cdb693;
  --jd-color-border: #4e3505;
  --jd-color-panel: #cdb693;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

fieldset {
  border: none;
  outline: none;
}
* {
  box-sizing: border-box;
}
img {
  max-height: 100%;
}
.page {
  margin: auto;
  min-height: 850px;
  padding-top: 70px;
  z-index: 1;
  background: white;
}
#content {
  min-height: 85vh;
  z-index: 1;
  /* background: white; */
}
#loading {
  position: fixed;
  top: 25%;
  z-index: -1;
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  padding: 16px;
  justify-content: center;
}
.layout-div {
  display: flex;
  flex-direction: column;
}
.body-content {
  padding: 0.5rem 0.5rem 0;
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.hero {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  padding: 1.15rem;
  padding-top: 100px;
  padding-bottom: 100px;
  transition: background 2s ease;
  text-decoration: none;
  height: 550px;
  z-index: 1;
  justify-content: center;
}
.line {
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: rotate(30deg);
  overflow: hidden;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
  margin-left: -25%;
}

.line:nth-child(1)::after {
  animation-delay: 2s;
}

.line:nth-child(3) {
  margin-left: 25%;
}
.line:nth-child(3)::after {
  animation-delay: 2.5s;
}
@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
.hero-side-image {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  /* max-width: 50%; */
  height: 80%;
  overflow: hidden;
  display: flex;
}
.hero-text-overlay {
  max-width: 650px;
  width: 100%;
  z-index: 3;
  text-align: center;
}
.custom-shape-divider-bottom-1615375944 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1615375944 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 59px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1615375944 .shape-fill {
  fill: #ffffff;
}
.gap {
  flex-grow: 1;
}
.sectionDesktop {
  display: none;
}
.sectionMobile {
  display: flex;
}
.business-image {
  border: 1px solid var(--light);
  max-height: 350px;
}
.carousel-item {
  padding: 0px 6px;
  margin-bottom: 8px;
}
.carousel-item:nth-child(1) {
  padding-left: 0px;
}
.carousel .slide img {
  width: auto !important;
  max-width: 100%;
}
.carousel img {
  width: auto !important;
  max-width: 100%;
}
.carousel .slide {
  background: white !important;
}
.carousel .thumb {
  max-height: 30px;
}
.carousel.carousel-slider .control-arrow {
  background: #cdb693 !important;
}
.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorRight.MuiPaper-elevation16 {
  background: #fffaf2;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.62);
  z-index: 1000;
  overflow-y: hidden;
  text-align: center;
}

.image-gallery-content.bottom
  .image-gallery-swipe
  .image-gallery-slide
  div
  .image-gallery-image {
  /* object-fit: cover; */
  max-height: 400px;
  padding: 5px;
}
.image-gallery-content.bottom.fullscreen
  .image-gallery-swipe
  .image-gallery-slide
  div
  .image-gallery-image {
  object-fit: contain;
  max-height: calc(100vh - 80px);
}
.image-gallery-icon:hover {
  color: var(--dark);
}
.image-gallery-icon:focus {
  outline: 2px solid var(--dark);
}
.image-gallery-content.bottom .image-gallery-slide-wrapper.bottom {
  max-height: 400px;
  overflow: hidden;
}
.image-gallery-content.bottom.fullscreen .image-gallery-slide-wrapper.bottom {
  max-height: 100%;
}
.image-gallery-thumbnails {
  max-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-gallery-thumbnail .image-gallery-thumbnail-image {
  vertical-align: middle;
  width: auto;
  max-height: 30px;
  line-height: 0;
}
.image-gallery-swipe {
  background: #e0e0e0;
}
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:focus {
  border-color: var(--dark);
}
.categoryIcon {
  cursor: pointer;
  transition: 1s;
  opacity: 0.5;
}
.categoryIcon:hover {
  opacity: 1;
}

.learn-more {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.shortPaper {
  padding: 16px;
  margin: 8px 24px;
}
.learn-more-image {
  margin-top: -16px;
  margin-bottom: -16px;
}

@media only screen and (min-width: 600px) {
  .hero-side-image {
    opacity: 0.3;
  }
  .body-content {
    padding: 1.15rem 1.15rem 0;
  }
}
@media only screen and (min-width: 800px) {
  .shortPaper {
    width: 50%;
  }
  .learn-more-image {
    max-width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .body-content {
    max-width: 1400px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.footer {
  padding: 16px 0px 8px 0px;
  min-height: 5vh;
  text-align: center;
  background-color: var(--light);
  /* z-index: 1; */
  width: 100%;
}
.footer-container {
  margin: 16px auto 0px;
}
.footer-links-div > * {
  display: block;
}
@media only screen and (min-width: 600px) {
  .sectionMobile {
    display: none;
  }
  .sectionDesktop {
    display: flex;
    align-items: center;
  }
  .sectionDesktop > * {
    margin: 0 8px;
  }
}

.custom-shape-divider-bottom-1615430493 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1615430493 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 35px;
}

.custom-shape-divider-bottom-1615430493 .shape-fill {
  fill: #ffffff;
}
.firebaseui-container * {
  font-family: "Raleway";
}

/* swal styling */
.swal-overlay {
  background-color: rgb(205 182 147 / 29%);
  font-family: "Raleway" !important;
}
.swal-button {
  background: var(--dark);
  font-family: "Raleway" !important;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgb(121 85 72 / 23%) !important;
}
.swal-button:not([disabled]):hover {
  background-color: var(--light);
}
.swal-text {
  text-align: center;
}

/* quill editor */
.ql-editor {
  min-height: 150px;
  max-height: 300px;
  font-family: "Raleway";
}
.ql-snow {
  border-radius: 4px !important;
}

/* stepper */
@media screen and (max-width: 700px) {
  .MuiStepper-root {
    padding: 24px 0px !important;
  }
}

/* shopify iframe */
.shopify-buy-frame iframe {
  z-index: 2;
  background: white;
}
