@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes rollout {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: none;
  }
}

.roll-out {
  animation: rollout 0.5s;
}

.pro_hero_image {
  background-image: url(/website_mockup.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  mask-image: url(/mask_grid.png);
  mask-repeat: no-repeat;
  mask-position: center;
}

@media (min-width: 1024px) {
  .pro_hero_image {
    mask-image: url(/mask_grid_laptop.png);
  }
}

@layer base {
  body {
    color: #100b01;
  }
}

p {
  @apply lg:text-lg;
}

.my-container {
  @apply mx-auto w-full px-4 sm:px-6 lg:max-w-7xl lg:px-8 xl:max-w-screen-2xl;
}

.h1 {
  @apply text-5xl font-bold text-primary xl:text-6xl;
}

.light-gradient {
  @apply bg-gradient-to-r from-secondary/5 to-secondary/[.12];
}

.inset-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transform;
}

/* pricing checkbox */

.label {
  @apply relative flex cursor-pointer items-center gap-3 rounded-lg bg-accent/20 p-4 lg:gap-4;
}

/* Hide the browser's default checkbox */
.label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  height: 25px;
  width: 25px;
  @apply rounded border border-accent-dark;
}

/* On mouse-over, add a grey background color */
.label:hover input ~ .checkmark {
  @apply border-accent-dark/30;
}

/* When the checkbox is checked, add a blue background */
.label input:checked ~ .checkmark {
  @apply bg-accent-dark ring-2 ring-offset-2;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label input:checked ~ .checkmark:after {
  display: block;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overflow-x-auto {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.location-suggestions {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

/* plugged-in */
.outlinedText {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #4e3505;
}

.pluggedIn {
  -webkit-text-fill-color: #4e3505; /* Will override color (regardless of order) */
}
.conference {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.05);
  -webkit-text-stroke-width: 1.75px;
}

.neuButton {
  @apply relative inline-flex items-center gap-2 rounded-lg bg-primary py-3 px-6 text-lg text-white transition duration-200 hover:translate-x-2 hover:translate-y-2 hover:shadow-none lg:py-4 lg:px-8 lg:text-xl;
  box-shadow: 6px 5px white, 6px 5px 0px 1px #4e3505;
}

.transparentShadow {
  box-shadow: 6px 5px white, 6px 5px 0px 1px #4e3505;
}

.priceButton {
  @apply relative transition duration-200 hover:translate-x-2 hover:translate-y-2 hover:shadow-none;
  box-shadow: 6px 5px #4e3505, 6px 5px 0px 1px #dcd7cd;
}

.listItem {
  box-shadow: 3px 3px #4e3505;
}
