@import "~react-image-gallery/styles/css/image-gallery.css";
:root {
  --dark: #4e3505;
  --light: #cdb693;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
img {
  max-height: 100%;
}
.page {
  margin: auto;
  min-height: 850px;
  padding-top: 70px;
}
#content {
  min-height: 100vh;
  z-index: 1;
}
#loading {
  position: fixed;
  top: 25%;
  /* z-index: 1; */
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  padding: 16px;
  justify-content: center;
}
.layout-div {
  display: flex;
  flex-direction: column;
}
.body-content {
  padding: 1.15rem;
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.hero {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  padding: 1.15rem;
  padding-top: 100px;
  padding-bottom: 100px;
  transition: background 2s ease;
  text-decoration: none;
  /* max-height: 450px;
  min-height: 380px; */
  height: 550px;
  z-index: 1;
  justify-content: center;
}
.hero-side-image {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  max-width: 50%;
  height: 80%;
  overflow: hidden;
}
.hero-text-overlay {
  max-width: 650px;
  width: 100%;
  z-index: 3;
  text-align: center;
}
.custom-shape-divider-bottom-1615375944 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1615375944 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 59px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1615375944 .shape-fill {
  fill: #ffffff;
}
.gap {
  flex-grow: 1;
}
.sectionDesktop {
  display: none;
}
.sectionMobile {
  display: flex;
}
.business-image {
  border: 1px solid var(--light);
  max-height: 350px;
}
.carousel-item {
  padding: 0px 6px;
  margin-top: 8px;
}
.carousel-item:nth-child(1) {
  padding-left: 0px;
}
.carousel .slide img {
  width: auto !important;
  max-width: 100%;
}
.carousel img {
  width: auto !important;
  max-width: 100%;
}
.carousel .slide {
  background: white !important;
}
.carousel .thumb {
  max-height: 30px;
}
.carousel.carousel-slider .control-arrow {
  background: #cdb693 !important;
}
.hr-div {
  height: 12px;
  border-bottom: 1px solid var(--dark);
  text-align: center;
}
.hr-text {
  background-color: white;
  padding: 0 10px;
}
.home-info {
  display: flex;
  align-items: center;
}
.second-grid {
  flex-direction: column-reverse;
}
.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorRight.MuiPaper-elevation16 {
  background: #fffaf2;
}
.owner-section {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.image-gallery-content.bottom
  .image-gallery-swipe
  .image-gallery-slide
  div
  .image-gallery-image {
  object-fit: cover;
}
.image-gallery-content.bottom.fullscreen
  .image-gallery-swipe
  .image-gallery-slide
  div
  .image-gallery-image {
  object-fit: contain;
}
.image-gallery-icon:hover {
  color: var(--dark);
}
.image-gallery-content.bottom .image-gallery-slide-wrapper.bottom {
  max-height: 400px;
  overflow: hidden;
}
.image-gallery-content.bottom.fullscreen .image-gallery-slide-wrapper.bottom {
  max-height: 100%;
}
.image-gallery-thumbnails {
  max-height: 70px;
}
.business-section > * {
  margin: 16px auto;
}
.business-section:first {
  margin-top: 0px;
}
.business-section {
  display: block;
  -webkit-box-ordinal-group: 11;
  -ms-flex-order: 10;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.62);
  z-index: 1000;
  overflow-y: scroll;
  text-align: center;
}
.modal-card {
  background: white;
  max-width: 444px;
  margin: 80px auto 10px;
  border-radius: 5px;
}
button.close-btn {
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .masonry-item {
    padding: 8px 16px;
  }
  .second-grid {
    flex-direction: row;
  }
  .contentGrid {
    display: flex;
    align-items: flex-start;
    position: relative;
    min-height: 80vh;
  }
  aside.owner-section {
    position: sticky;
    align-self: flex-start;
    top: 86px;
    width: 33.6%;
  }
  .business-section {
    margin-right: 5.5%;
    width: 59.08%;
    display: block;
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
  }
}
@media only screen and (min-width: 1024px) {
  .body-content {
    max-width: 1400px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.footer {
  padding: 16px 0px 8px 0px;
  margin-top: 10vh;
  min-height: 5vh;
  text-align: center;
  background-color: var(--light);
  z-index: 2;
  /* position: absolute; */
  width: 100%;
}
.footer-container {
  margin: 16px auto 0px;
}
.footer-links-div > * {
  display: block;
}
#progressbar {
  display: none;
}
.progress-bar {
  background-color: var(--dark);
  height: 100%;
  border-radius: 10px;
}
.progress {
  height: 10px;
  background: #e0e0e0;
  border-radius: 10px;
  margin-bottom: 8px;
  width: 80%;
}
@media only screen and (min-width: 600px) {
  .sectionMobile {
    display: none;
  }
  .sectionDesktop {
    display: flex;
  }
  .sectionDesktop > * {
    margin: 0 8px;
  }

  /* mulit step */
  .mobile-step-display {
    display: none;
  }
  #progressbar {
    list-style: none;
    display: flex;
    padding: 0px;
    justify-content: space-evenly;
  }
  #progressbar li {
    width: 20%;
    word-break: break-word;
    padding: 0px 8px;
    text-align: center;
    position: relative;
  }

  #progressbar li p {
    font-size: 0.8rem;
  }
  #progressbar li .icon-wrapper {
    display: inline-flex;
    justify-content: center;
    border: 1px solid grey;
    background: white;
    padding: 8px;
    border-radius: 50%;
    transition: 2s;
  }
  #progressbar li.filled .icon-wrapper {
    background: var(--dark);
    transition: all10s ease;
  }
  #progressbar li.filled .icon-wrapper > * {
    color: white;
  }
  #progressbar li::after {
    content: "";
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
  }
  #progressbar li.filled::after {
    background: var(--dark);
    transition: all10s ease;
  }
  #progressbar li.filled p {
    color: var(--dark);
    font-weight: bold;
  }
}

.custom-shape-divider-bottom-1615430493 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1615430493 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 35px;
}

.custom-shape-divider-bottom-1615430493 .shape-fill {
  fill: #ffffff;
}
.firebaseui-container * {
  font-family: "Raleway";
}
