@import "styles/mixins";

.navLink {
  position: relative;
  // text-transform: uppercase;
  border-radius: 8px;
  align-self: center;

  &.active {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 50%;
      left: calc(25% - 0.5rem);
      bottom: 0;
      border-bottom: 2px solid $secondary;
    }
  }
}
