@import "styles/mixins";

.page {
  margin: auto;
  min-height: 850px;
  z-index: 1;
  background: white;
  padding-top: 60px;
}
.container {
  text-align: center;
  display: flex !important;
  flex-direction: column;
}
.logo_circle {
  padding: 16px;
  border-radius: 50%;
  border: 1.4px solid #4e3505;
  align-self: center;
  width: 70px;
  height: 70px;
  margin-bottom: 16px;
}

.firebase_auth_paper {
  padding: 16px 0px;
}

.back_to_directory_btn {
  align-self: center;
}
