.burger {
  display: flex;
  flex-shrink: 0;
  outline: none;
  height: 20px;
  width: 2.25rem;
  border: 0px;
  padding: 0px;
  background: transparent;
  transition: all 250ms ease-out;
  margin-top: 1rem;
}

.burger:before,
.burger:after {
  content: "";
  width: 2.25rem;
  height: 2px;
  position: absolute;
  background: #1a1a1a;
  transition: all 250ms ease-out;
  will-change: transform;
}

.burger:before {
  transform: translateY(-6px);
}

.burger:after {
  transform: translateY(6px);
}

.active.burger:before {
  transform: translateY(0) rotate(45deg);
}

.active.burger:after {
  transform: translateY(0) rotate(-45deg);
}

.dialogContent {
  width: 100% !important;
  padding: 6rem 1rem 0 !important;
  height: 100% !important;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
