@import "styles/_mixins";

.quill {
  display: flex;
  flex-direction: column;

  &:focus,
  &:focus-visible {
    border: 2px solid $secondary !important;
  }
}
.ql-editor {
  min-height: 150px;
  max-height: 300px;
  font-family: "Raleway";
  padding: 0.5rem !important;
}
.ql-snow {
  border-color: $secondary !important;
  border-radius: 4px !important;

  &.ql-toolbar {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  &.ql-container {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}
