@import "styles/_mixins";

.quill {
  display: flex;
  flex-direction: column;
  transition: 180ms box-shadow ease-in-out;
  border-radius: 10px;

  &:focus,
  &:focus-visible,
  &:focus-within {
    box-shadow: 0 0 0 3px $lightSecondary;
  }

  &.quillError {
    .ql-snow {
      border-color: red !important;
    }

    &:focus,
    &:focus-visible,
    &:focus-within {
      box-shadow: 0 0 0 3px #ff00002e;
    }
  }
}
.ql-editor {
  min-height: 250px;
  max-height: 350px;
  font-family: "Raleway";
  padding: 1rem !important;
  // background-color: white;

  * {
    font-size: 1rem !important;
    color: rgb(72, 75, 83) !important;
  }
}
.ql-snow {
  border-color: $secondary !important;
  border-radius: 10px !important;
  border-width: 1.5px !important;

  &.ql-toolbar {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  &.ql-container {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    overflow: hidden;
  }
}

// manual classes
.quillFormGroup {
  display: grid;
  gap: 0.25rem;
}
