@import "styles/_mixins";

.hero {
  position: relative;
  display: flex;
  padding: 8rem 0 1.15rem;
  text-decoration: none;
  justify-content: center;
  background-color: $lightTertiary;
  background: linear-gradient(180deg, $lightTertiary 0%, white 100%);
  overflow: hidden;

  .heroContent {
    text-align: center;
<<<<<<< HEAD
    max-width: 700px;
    margin: auto;
  }

  .subtitle {
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  hr {
    margin-top: 4rem;
    width: 60%;
    border-color: $lightGrey;
  }

  .author {
    margin-top: 2rem;
    opacity: 0.5;
    span {
      font-weight: bold;
    }
  }
}

.cmsContent {
  text-align: justify;
  display: flex;
  flex-direction: column;

  h2,
  h3 {
    margin-top: 1.5rem;
  }

  p {
    line-height: 1.75;
    margin-bottom: 0;
  }

  a {
    text-decoration: underline;
    color: $secondary;
  }
}

.blogFooter {
  margin-top: 4rem;
  text-align: center;
  display: grid;
  gap: 2rem;

  hr {
    width: 60%;
    border-color: $lightGrey;
    margin-block: 0;
  }

  .shareDiv {
    display: flex;
    gap: 1rem;
    justify-content: center;

    button {
      svg {
        font-size: 1.5rem;
      }
    }

    p {
      margin: 0;
=======
    max-width: 600px;
    margin: auto;
  }

  .subtitle {
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  hr {
    margin-top: 4rem;
    width: 60%;
    border-color: $lightGrey;
  }

<<<<<<< HEAD
    .aside {
      border: 1px solid;
      min-width: 400px;
>>>>>>> f3245e5... Pro page (#21)
=======
  .author {
    margin-top: 2rem;
    opacity: 0.5;
    span {
      font-weight: bold;
>>>>>>> 9af4f36... blog content page update
    }
  }
}

<<<<<<< HEAD
.readMore {
  margin-top: 1rem;
  text-align: left;

  h3 {
    font-weight: normal;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      background: $offWhite;
      border: 1px solid $lightPrimary;
      padding: 1rem;
      border-radius: 15px;

      p {
        margin: 0;
        line-height: 1.75;
      }
    }
=======
.cmsContent {
  text-align: justify;
  a {
    text-decoration: underline;
    color: $secondary;
>>>>>>> f3245e5... Pro page (#21)
  }
}

.blogFooter {
  margin-top: 4rem;
  text-align: center;
  display: grid;
  gap: 2rem;

  hr {
    width: 60%;
    border-color: $lightGrey;
    margin-block: 0;
  }

  section {
    box-shadow: 2px 4px 20px 0px $lightGrey;
    border-radius: 10px;
    padding: 1rem;

    p {
      margin-bottom: 2rem;
    }
  }

  .shareDiv {
    display: flex;
    gap: 1rem;
    justify-content: center;

    button {
      svg {
        // color: $secondary;
        font-size: 1.5rem;
      }
    }

    p {
      margin: 0;
    }
  }
}
