@import "styles/mixins";

.iconButton {
  height: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 1.5rem;
  cursor: pointer;
  color: $secondary;
  border-radius: 8px;

  &:hover,
  &:active {
    background-color: rgba(78, 53, 5, 0.04);
  }

  &:focus-visible {
    outline: auto;
  }
}

.dialog {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  border-radius: 10px;
  gap: 0.5rem;
  width: 90%;
  max-width: 500px;
}

.actionButtons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: flex-end;
  column-gap: 0.75rem;
  row-gap: 1rem;

  @include tablet {
    column-gap: 3rem;
  }
}

.label {
  font-weight: bold;
  color: $secondary;
  font-size: 1.25rem;
}
