@import "styles/mixins";

.formError {
  color: red;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}

.input {
  opacity: 0;
  position: absolute;

  &:checked ~ .categoryImage {
    background: $primary;
    border-color: $primary;
  }
}
