@import "styles/mixins";

.formError {
  color: red;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}

.input {
  opacity: 0;
  position: absolute;

  &:checked ~ .categoryImage {
    background: $primary;
    border-color: $primary;
  }
}

.categoryImage {
  border: 1px solid $secondary;
  color: $secondary;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  word-break: break-word;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  span {
    flex-shrink: 0;
  }

  &:hover {
    border-color: $primary;
  }

  @include tablet {
    margin: 0.125rem 0.25rem;
    padding: 0.75rem;
  }
}

.logoInput {
  .input {
    display: none;
  }
}

.logoAndPreview {
  display: flex;
  gap: 1rem;
  align-items: center;
}
