@import "styles/_mixins";

.personaGroup {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 5rem;
  row-gap: 1rem;
  margin-block: 2.5rem;
}

.persona {
  display: flex;
  flex-direction: column;
  width: 20rem;
  gap: 1rem;
  text-align: center;
}

.personaImage {
  position: relative;
  height: 15rem;
  width: 15rem;
  margin-inline: auto;
  margin-bottom: 1rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 14px 0 rgb(78 56 10 / 39%);
  box-shadow: 0px 10px 50px hsla(0, 0%, 0%, 0.33);
}
